<div class="backPages">
  <div class="backInside">
<%- model_class = Series -%>
<div class="page-header">
  <h1><%= @series.name %> </h1>
</div>

<dl class="dl-horizontal">

  <div id="image"<dd><%= image_tag @series.image.url %></dd></div>
  <div id="descriptions"><dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @series.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:creator) %>:</strong></dt>
  <dd><%= @series.creator %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @series.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @series.year %></dd>
</div>
</dl>

<div id="buttonShow">
<%= link_to t('.back', :default => t("helpers.links.back")),
              series_index_path, :class => 'btn btn-default'  %>
<%if current_user.present?%>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_series_path(@series), :class => 'btn btn-default' %>
<%if current_user.admin?%>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              series_path(@series),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
              :class => 'btn btn-danger' %>
</div>
<%end%>
<%end%>
  </div>
</div>
